* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.9); /* Un oscuro tipo Catppuccin */
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 5px;
    color: #89b4fa;
}

#workspaces button.active {
    color: #f5e0dc;
    border-bottom: 3px solid #f5e0dc;
}
